body {
    font-family: "Century Gothic";
}

.navigaatiolista {
    list-style-type: none;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    overflow: hidden;
    background-color: forestgreen;
}

li {
    float: left;
    background-color: forestgreen;

}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li navigaatio:hover {
    background-color: #111;
}


.vasen{
    margin: 50px;
    display: inline-block;
    grid-area: vasen;
}

.oikea{
    margin: 50px;
    display:inline-block;
    grid-area:oikea;
}

.ostoslista{
    list-style-type:none;
}

.tyhjennakori{
    visibility:hidden;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: crimson;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#etusivu_logo {
    max-width: 12%;
    margin-top: -7%;
    margin-left: 1%;
    margin-right: -2%;
    padding: 0;
    float: left;
    clear: left;
    position:relative;

}

.aloitus {
    max-height: auto;
    margin-top: 7%;
    background-color: darkgreen;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: seagreen;
}

.disclaimer {
    color: rgba(127, 127, 127, 0.72);
    text-align: center;
    padding-top: 40px;
}

.teksti {
    width: 70%;
}

.kuva {
    margin: 4px;
    width: 28%;
}

.runko {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-flow: row wrap;
}

.sloganjanav {
    display:flex;
    flex-flow: column-wrap;
}
.slogani{
    position:absolute;
    margin-left: 65%;
    margin-top: -2%;
    font-size: 20px;
}
.tuotesivu{
    margin-left: 15%;
    margin-right: 15%;
}
.sisalto {
    margin-left: 15%;
    margin-right: 15%;
}